<nav>
    <ul class="pagination justify-content-center">
        <% if (currentPage > 1) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= currentPage - 1 %>&<%= locals.queryString %>">Previous</a>
            </li>
        <% } %>
        <% if (currentPage !== 1 && previousPage !== 1) { %>
            <li class="page-item">
                <a class="page-link" href="?page=1&<%= locals.queryString %>">1</a>
            </li>
        <% } %>
        <% if (hasPreviousPage) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= previousPage %>&<%= locals.queryString %>"><%= previousPage %></a>
            </li>
        <% } %>
        <li class="page-item active">
            <a class="page-link" href="?page=<%= currentPage %>&<%= locals.queryString %>"><%= currentPage %></a>
        </li>
        <% if (hasNextPage) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= nextPage %>&<%= locals.queryString %>"><%= nextPage %></a>
            </li>
        <% } %>
        <% if (hasNextPage && lastPage !== currentPage && nextPage !== lastPage) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= lastPage %>&<%= locals.queryString %>"><%= lastPage %></a>
            </li>
        <% } %>
        <% if (currentPage < lastPage) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= currentPage + 1 %>&<%= locals.queryString %>">Next</a>
            </li>
        <% } %>
    </ul>
</nav>