<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/invoice.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css">
    <script src="/assets/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/customer.js"></script>
</head>
<body>
    <%- include("./components/navbar.ejs"); %>
    <div class="container">
        <div class="col-12 col-lg-12">
            <div class="row">
                <a class="nav-link text-secondary" href="/" style="font-size: large;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                </svg>
                Home &GreaterGreater;
                </a>
                <a class="nav-link text-secondary" href="/api/customer/listpage" style="font-size: large;">Customer List</a>
        </div>
        <div class="col-12 col-lg-12 text-right">
            <button type="button" class="btn btn-icon btn-md btn-secondary btnAdd" style="width: 170px; padding: 10px; margin: 2px;" id="btnAdd" data-toggle="modal" data-target="#addCustomerModal" title="Add Customer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                </svg>
                Add Customer
            </button>
        </div>
        <table id="userTable" class="display hover table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if(data && data.length > 0) { %>
                <% data.forEach((user) => { %>
                  <tr>
                    <td><%= user.custom_id %></td>
                    <td><%= user.customer_name %></td>
                    <td>0<%= user.customer_phone %></td>
                    <td><%= user.customer_email %></td>
                    <td><%= user.customer_address %></td>
                    <td>
                    <button type="button" class="btn btn-icon btn-md btnEdit" id="btnEdit" data-id="<%= user.id %>" data-toggle="modal" data-target="#editCustomerModal" title="Edit User">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                      </svg>
                    </button>

                    
                    <button type="button" class="btn btn-icon btn-md btnDelete" data-id="<%= user.id %>" title="Delete User">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                <% }); %>
              <% }%>
            </tbody>
          </table>
    </div>
  </div>

  <div id="addCustomerModal" class="modal animated fadeIn bs-example-modal-lg bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-between bg-white">
                <h5 class="page-title text-dark">Add Customer Form</h5>
                <p data-dismiss="modal" aria-label="Close"><span class="text-dark" aria-hidden="true">&times;</span></p>
            </div>
            <div class="modal-body" id="modal-body">
              <form id="addCustomerForm">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="customer_name">Name</label>
                      <input type="text" name="customer_name" class="form-control customer_name" id="customer_name" placeholder="Enter Customer Name">
                    </div>
                    <div class="form-group">
                      <label for="customer_email">Email</label>
                      <input type="email" name="customer_email" class="form-control customer_email" id="customer_email" placeholder="Enter Customer Email">
                    </div>
                    <div class="form-group">
                      <label for="customer_phone">Phone</label>
                      <input type="phone" name="customer_phone" class="form-control customer_phone" id="customer_phone" placeholder="Enter Customer Phone">
                    </div>
                    <div class="form-group">
                      <label for="customer_password">Password</label>
                      <input type="password" name="customer_password" class="form-control customer_password" id="customer_password" placeholder="Enter Customer Password">
                    </div>

                    <div class="form-group">
                      <label for="customer_address">Address</label>
                      <textarea id="customer_address" class="form-control customer_address" name="customer_address" rows="2" cols="10" placeholder="Enter your Address here ..."></textarea>
                    </div>
                    <div class="form-group text-center">
                      <input type="submit" class="btn btn-secondary w-50" id="btnSubmit" name="btnSubmit" value="SAVE">
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>


  <div id="editCustomerModal" class="modal animated fadeIn bs-example-modal-lg bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-between bg-white">
                <h5 class="page-title text-dark">Edit Customer Form</h5>
                <p data-dismiss="modal" aria-label="Close"><span class="text-dark" aria-hidden="true">&times;</span></p>
            </div>
            <div class="modal-body" id="modal-body">
              <form id="editCustomerForm">
                <input type="hidden" name="customer_id" id="customer_id">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="edit_customer_name">Edit Name</label>
                      <input type="text" name="edit_customer_name" class="form-control edit_customer_name" id="edit_customer_name" placeholder="Enter Customer Name">
                    </div>
                    <div class="form-group">
                      <label for="edit_customer_email">Edit Email</label>
                      <input type="email" name="edit_customer_email" class="form-control edit_customer_email" id="edit_customer_email" placeholder="Enter Customer Email">
                    </div>
                    <div class="form-group">
                      <label for="edit_customer_phone">Edit Phone</label>
                      <input type="phone" name="edit_customer_phone" class="form-control edit_customer_phone" id="edit_customer_phone" placeholder="Enter Customer Phone">
                    </div>
                    <div class="form-group">
                      <label for="edit_customer_password">Edit Password</label>
                      <input type="password" name="edit_customer_password" class="form-control edit_customer_password" id="edit_customer_password" placeholder="Enter Customer Password">
                    </div>

                    <div class="form-group">
                      <label for="edit_customer_address">Edit Address</label>
                      <textarea id="edit_customer_address" class="form-control edit_customer_address" name="edit_customer_address" rows="2" cols="10" placeholder="Enter your Address here ..."></textarea>
                    </div>
                    <div class="form-group text-center">
                      <input type="button" class="btn btn-secondary w-50" id="btnUpdate" name="btnUpdate" value="UPDATE">
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>

  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331; margin-top: 122px;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <a class="text-white" href="/"> © 2024 All Right Reserved</a>
    </div>
  </footer>  
  <script>
    new DataTable('#userTable', {
      lengthMenu: [
          [10, 25, 50,100,200, -1],
          [10, 25, 50,100,200, 'All']
      ],
      order: [
        [0, 'asc']
      ],
      responsive: true,
      processing: true
  });
  </script>
</body>
</html>