<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" href="/images/invoice.png" type="image/x-icon"/>
  <link rel="stylesheet" href="/stylesheets/invoice_list.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> 
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css"> 
  <link rel="stylesheet" href="/stylesheets/pagination.css">
  <script src="/assets/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/invoice_list.js"></script>
</head>
<body>
<div>
    <div class="container px-0">
        <div class="row">
            <div class="col-12 col-lg-12">
              <h2 class="pt-1">Invoice List</h2>
                <div class="header-container">
                    <a href="https://crudinvoicepostgresql.onrender.com/api/invoice/listpage">Clear Filter</a>
                    <!-- <a href="http://localhost:3001/api/invoice/listpage" id="clearFilter">Clear Filter</a> -->
                    <form id="searchForm">
                        <input type="search" name="search" id="searchInput" placeholder="Enter Search Input" value="<%= query.search %>">
                    </form>
                </div>
                    <table>
                        <thead>
                          <tr>
                            <th>#</th>
                            <th style="width: 120px;">Invoice No</th>
                            <th>Customer Name</th>
                            <th>Customer Phone</th>
                            <th>Customer Email</th>
                            <th>Customer Address</th>
                            <th>Invoice Date</th>
                            <th>Total Amount</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(data && data.length > 0) { %>
                            <% data.forEach((invoice, index) => {  
                                var value = invoice.total_amount;
                                var valueStr = value.toString();
                                var splitValues = [];
                                while (valueStr) {
                                    splitValues.unshift(valueStr.slice(-3));
                                    valueStr = valueStr.slice(0, -3);
                                }
                                var split_total_amount = splitValues.join(',');    
                            %>
                                
                              <tr>
                                <td><%= ++index %></td>
                                <td><%= invoice.invoice_no %></td>
                                <td><%= invoice.customer_name %></td>
                                <td><%= invoice.customer_phone %></td>
                                <td><%= invoice.customer_email %></td>
                                <td><%= invoice.customer_address %></td>
                                <td><%= invoice.invoice_date %></td>
                                <td><%= split_total_amount %></td>
                                <td>
                                <button type="button" class="btn btn-icon btn-md btnView" id="btnView" data-id="<%= invoice.invoice_id %>" data-toggle="modal" data-target="#invoiceViewModal" title="View Details">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </button>
                                </td>
                              </tr>
                            <% }); %>
                          <% } else { %>
                            <tr>
                              <td colspan="8">No data available</td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                        <!-- Modal -->
                        <div id="invoiceViewModal" class="modal animated fadeIn bs-example-modal-lg bs-example-modal-center ml-5" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-between bg-white">
                                        <h5 class="page-title text-dark">Invoice Detail View</h5>
                                        <button class="btnPrint" id="btnPrint">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                                            <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                          </svg>
                                        </button>
                                        <p data-dismiss="modal" aria-label="Close"><span class="text-dark" aria-hidden="true">&times;</span></p>
                                    </div>
                                    <div class="modal-body" id="modal-body"> 
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.Modal -->
                <%- include('../views/components/pagination.ejs') %>
            </div>
        </div>
    </div>
</div>

</body>
</html>