<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" href="/images/invoice.png" type="image/x-icon"/>
  <link rel="stylesheet" href="/stylesheets/invoice_list.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> 
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css"> 
  <link rel="stylesheet" href="/stylesheets/pagination.css">
  <script src="/assets/jquery.js"></script>
  <script src="/javascripts/invoice_list.js"></script>
</head>
<body>
<div class="page-content container">
    <div class="container px-0">
        <div class="row mt-4">
            <div class="col-12 col-lg-12">
              <h2>Invoice List</h2>
              <form id="searchForm">
                <input type="search" name="search" id="searchInput" placeholder="Enter Search Input" value="<%= query.search %>">
              </form>
              <% if(data && data.length > 0) { %>
                <% data.forEach((invoice, index) => { %>
                <hr class="row brc-default-l1 mx-n1 mb-4" />

                <div class="row">
                    <div class="col-sm-6 text-grey-m2">
                      <div class="my-1"><i class="fa fa-circle text-blue-m2 text-xs"></i> <span class="text-600 text-90">Customer Name: </span> <%= invoice.customer_name %></div>
                      <div class="my-1"><i class="fa fa-circle text-blue-m2 text-xs"></i> <span class="text-600 text-90">Customer Phone: </span> <%= invoice.customer_phone %></div>
                      <div class="my-1"><i class="fa fa-circle text-blue-m2 text-xs"></i> <span class="text-600 text-90">Customer Email: </span> <%= invoice.customer_email %></div>
                      <div class="my-1"><i class="fa fa-circle text-blue-m2 text-xs"></i> <span class="text-600 text-90">Customer Address: </span> <%= invoice.customer_address %></div>
                    </div>
                    <!-- /.col -->

                    <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                        <hr class="d-sm-none" />
                        <div class="text-grey-m2">

                          <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">No: </span> <%= ++index %></div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Invoice ID: </span> <%= invoice.invoice_id %></div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Invoice No: </span><%= invoice.invoice_no %></div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Invoice Date: </span><%= invoice.invoice_date %></div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                  <div class="row text-600 text-white bgc-default-tp1 py-25">
                      <div class="d-none d-sm-block col-1">#</div>
                      <div class="col-3">Stock Code</div>
                      <div class="d-none d-sm-block col-2">Stock Price</div>
                      <div class="col-2">Stock Quantity</div>
                      <div class="col-2">Amount</div>
                      <div class="d-none d-sm-block">Stock Description</div> 
                  </div>
                  <% let totalAmount = 0; %>
                  <% invoice.stock_items.forEach((stock, i) => { %>
                      <% totalAmount += stock.stock_price * stock.stock_quantity; %>
                      <div class="text-95 text-secondary-d3">
                          <div class="row mb-2 mb-sm-0 py-25">
                              <div class="d-none d-sm-block col-1"><%= ++i %></div>
                              <div class="col-3"><%= stock.stock_code %></div>
                              <div class="d-none d-sm-block col-2"><%= stock.stock_price %></div>
                              <div class="col-2 text-secondary-d2"><%= stock.stock_quantity %></div>
                              <div class="col-2 text-secondary-d2"><%= stock.stock_price * stock.stock_quantity %></div>
                              <div class="d-none d-sm-block col-2"><%= stock.stock_description %></div>
                          </div>
                      </div>
                      <div class="row border-b-2 brc-default-l2"></div>
                      <hr class="row brc-default-l1 mx-n1 mb-2" />

                  <% }); %>
                  <div class="text-95 text-secondary-d3 mt-3">
                      <div class="row py-25">
                          <div class="col-4"></div>
                          <div class="col-4 text-120 text-right">Total Amount:</div>
                          <div class="col-4 text-120"><%= totalAmount %></div>
                      </div>
                  </div>
              </div>
              
                <% }); %>
                <% }else { %>
                    <div class="row">
                        <h4 class="text-center pt-4">No Record Found !!</h4>
                    </div>
                <% } %>
                <%- include('../views/components/pagination.ejs') %>
            </div>
        </div>
    </div>
</div>
</body>
</html>